{% extends 'base.html' %}

{% block content %}

<h1>Journal Entry Detail</h1>
<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ object.title }}</h5>
            <h3 class="modal-title">{{ object.date }}</h5>
            <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{ object.entry }}</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-outline-light" href="{% url 'entry_update' object.id %}">Edit</a>
            <a class="btn btn-outline-dark" href="{% url 'entry_delete' object.id %}">Delete</a>
        </div>
        </div>
    </div>
    </div>

{% endblock %}