{% extends 'base.html' %}

{% block content %}

<h1>Task Detail</h1>
<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ task.name }}</h5>
            <h3 class="modal-title">{{ task.date }}</h5>
            <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{ task.description }}</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-outline-light" href="{% url 'task_update' task.id %}">Edit</a>
          <a class="btn btn-outline-dark" href="{% url 'task_delete' task.id %}">Delete</a>
      </div>
        </div>
    </div>
    </div>
    <hr>

    {% for item in id_list %}
    <a href="{% url 'entry_detail' item.id %}">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">{{ item.title }}</strong>
                <small>{{ item.date }}</small>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="toast-body">
                <p>{{ item.entry }}</p>
            </div>
        </div>
    </a>
{% endfor %}







<hr>
    <div class="col s6">
  
      <table class="table-success">
        <thead>
          <tr><th scope="col">Title</th><th scope="col">Date</th></tr>
        </thead>
        <tbody>
{% for entry in task.entries_set.all %}
            <tr>
              <td>{{entry.title}}</td>
              <td>{{entry.date}}</td>
            </tr>
        
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}
{% endblock %}