{% extends 'base.html' %}

{% block content %}
<h1>My Projects</h1>
<div class="project_container">

{% for project in projects %}
<a href="{% url 'detail' project.id %}">
<div class="card border-succes mb-3" style="max-width: 20rem;">
    <div class="card-header">You can click here!</div>
    <div class="card-body">
        <h4 class="card-title">{{ project.name }}</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                Technology:
                {{ project.technology }}
                <p class="badge bg-primary rounded-pill"></p>
            </li>
            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                Description: 
                {{ project.description }}
                <p class="badge bg-primary rounded-pill"></p>
            </li>
            <li class="links list-group-item list-group-item-success d-flex justify-content-between align-items-center " >
                <p style="color: #3c3b3b;">GitHub Link:</p> 
                <a href="{{ project.github }}" class="fa-brands fa-github fa-2xl" style="color: #13a3d4;"></a> 
                <p class="badge bg-primary rounded-pill"></p>
            </li>
            <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                Journal Entries:
                <p class="badge bg-primary rounded-pill"></p>
            </li>
            <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                Playlists:
                <p class="badge bg-primary rounded-pill"></p>
            </li>
            <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
                <p class="text-success-emphasis">Images:</p>
                <p class="badge bg-primary rounded-pill"></p>
            </li>
        </ul>  
    </div>
</div>
</a>

{% endfor %}
</div>

{% endblock %}