{% extends 'base.html' %}

{% block content %}
<h1>My Projects</h1>
{% for project in projects %}
<a href="{% url 'detail' project.id %}">
<div class="card border-succes mb-3" style="max-width: 20rem;">
    <div class="card-header">My Projects</div>
    <div class="card-body">
        <h4 class="card-title">{{ project.name }}</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                Technology: {{ project.technology }}
                <span class="badge bg-primary rounded-pill">14</span>
            </li>
            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                Description: {{ project.description }}
                <span class="badge bg-primary rounded-pill">14</span>
            </li>
            <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                GitHub Link: {{ project.github }} 
                <span class="badge bg-primary rounded-pill">1</span>
            </li>
            <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                Journal Entries:
                <span class="badge bg-primary rounded-pill">5</span>
            </li>
            <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                Playlists:
                <span class="badge bg-primary rounded-pill">4</span>
            </li>
            <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
                Images:
                <span class="badge bg-primary rounded-pill">9</span>
            </li>
        </ul>  
    </div>
</div>
</a>

{% endfor %}
{% endblock %}