{% extends 'base.html' %}

{% block content %}

<h1>{{ project.name }}</h1>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="{% if task.completed %}width: 100%{% else %}width:50%{% endif %};" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading ">Decription</h4>
    <p class="mb-0">{{ project.description }}</p>
    <a href="{{ project.github }}"class="mb-0">{{ project.github }}</a>
    <div class="nav-item pills">
      <a class="btn badge bg-light" href="{% url 'project_update' project.id %}">Edit</a>
      <a class="btn badge bg-dark" href="{% url 'project_delete' project.id %}">Delete</a>
    </div>
  </div>
  
  <br>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tasks</th>
      </tr>
    </thead>
    <tbody>
    
      {% for task in tasks %}
      
      <tr class="table-secondary">
      <a href="{% url 'task_detail' task.id %}"></a><th scope="row">{{ task.name }}</th></a>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}